table {
    box-shadow: var(--edge-highlight);
    border-radius: var(--rounded-corner);
    border-collapse: collapse;
    background-color: var(--ctp-surface0);
    width: 100%;
    overflow: hidden;

    tr {
        &:nth-child(even) {
            background-color: var(--ctp-surface1);
        }

        th,
        td {
            padding: 0.5rem 1rem;
        }

        th {
            background-color: var(--ctp-overlay1);
            color: var(--fg-color);
            font-weight: bold;
        }

        td {
            color: var(--fg-color);
        }
    }
}